
/* Global resets */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
}

body{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

.header{
    position: relative;
    height: 7rem;
    /* background-color: orange; */
}

.header__heading{
    padding: 2rem;
    display: flex;
    align-items: center;
}

.header__heading h1{
    margin-left: 1rem;
}

.drp-dwn-txt{
    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1.7;
}

.site-content-container{
    min-height: 90vh;
    width: 90vw;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5rem;
    /* background-color: orchid; */
}

.options-container{
    position: relative;
    margin-top: 3rem;
    height: 60px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    /* background-color: orange; */
    font-size: 1.8rem;

}

.drop-down-holder{
    width: 25rem;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drop-down-holder:nth-child(1){
 /* background-color: orangered; */
}

.drop-down-holder:nth-child(2){
    /* background-color: yellow; */
}

.drop-down-holder:nth-child(3){
    width: 36rem;
    min-width: 36rem;
    /* background-color:indigo; */
}

.more-width{
    width:30rem !important;
    min-width: 30rem !important;
}

.drop-dwn-container{
    height:40px;
    width: 150px;
    min-width: 150px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .16);
    border-radius: 8px;
    z-index: 999;
    cursor: pointer;
}

.drop-dwn-container:hover > .drop-dwn-container__options{
    display: block;
}

.drop-dwn-container__select{
    /* background-color: red; */
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: inherit;
    position: relative;
}

.drop-dwn-container__select > span{
 margin-left:  2rem;
 color:#2B2B2B;
}

.drop-dwn-container__select::before{
    content: "";
    position: absolute;
    height:54%;
    width:2px;
    background-color:#4F4C4C;
    right: 20px;
    border-radius: 1px;
    transform: rotate(47deg);
}

.drop-dwn-container__select::after{
    content: "";
    position: absolute;
    height:54%;
    width:2px;
    background-color:#4F4C4C;
    right: 35px;
    border-radius: 1px;
    transform: rotate(-47deg);
}

li {
    list-style: none;
}

li:hover {
    background-color: rgba(96, 51, 194, .8);
    border-radius: 2px;
}

.drop-dwn-container__options{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .16);
    border-radius: 6px 8px 8px 8px;
    width: 100%;
    top:41px;
}

.drop-dwn-opts-txt{
    text-decoration: none;
    margin-left:  2rem;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 2px;
    color:#939393;
}


.drop-dwn-opts-txt:hover{
    color: #fff;
    cursor: pointer;

}

.box-container{
    position: relative;
    width: 80%;
    min-height: 50rem;
    background-color: #fff;
    /* background-color:#FAFDFF; */
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .16);
    border-radius: 16px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5rem;
    /* border: 3px solid rgba(96, 51, 194, .4); */
    /* text-align: center; */
}

.box-container::before{
    content: "";
    position:absolute;
    background-color: rgba(96, 51, 194, .6);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    right:-55px;
    bottom: -55px;
}

.box-container::after{
    content: "";
    position:absolute;
    background-color: rgba(250, 235, 25, .6);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left:-55px;
    bottom: -55px;
}

.box-container__heading{
 position: relative;
 text-align: center;
 height: 3.5rem;
 background-color: rgba(96, 51, 194, .9);
 box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
 border-radius: 5px;

}

.box-container__heading > h3{
  display: inline-block;
  font-size: 1.8rem;
  color:#fff;
  font-weight: 350;
  
}

.box-conatiner__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:2rem;
    font-size: 1.7rem;
    font-weight: 400;
}

[class$="btn"]{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
    transition: transform .1s;
}

[class$="btn"]:hover{
    box-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
}

[class$="btn"]:active{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .16);
    transform: translate(1px);
}

.reset-btn{
    width: 12rem;
    height: 4rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .2s;
}

.reset-btn span {
    z-index: 15;
}

.reset-btn::before{
    position: absolute;
    content: "";
    background-color: rgba(96, 51, 194, .9);
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    left: -18%;
    box-decoration-break: none;
    bottom: -32%;
    transition: all .2s;
    z-index: 10;
}

.reset-btn:hover::before{
    width: 16rem;
    height: 8rem;
}

.reset-btn:hover{
    color: #fff;
}

.box-flow-container{
    width: 100%;
    /* background-color: orange; */
    min-height: 30rem;
    margin: 0 auto;
    padding: 3rem;
    padding-top: 2rem;
    display: flex;
    
}

.box-flow-container__left{
    height: 10rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

.box-flow-container__right{
    min-height: 20rem;
    width: 50%;
    /* background-color: blueviolet; */
    
}

.box-flow-container__right__cmd-cont{
    display: flex;
    width: 100%;
    /* background-color: brown; */
    flex-direction: column;
}

.box-flow-container__right__cmd-cont .job-bx--cmd{
    align-self: center;
    margin-bottom: 30px;
}

.box-flow-container__right__btn-cont{
    justify-content: space-evenly;
    /* background-color: chartreuse; */
    display: flex;
    margin-bottom: 30px;
}


.job-bx{
    position: relative;
    height:8rem;
    min-height: 8rem;
    width: 18rem;
    min-width: 18rem;
    border-radius: 14px;
    background-color: #34C3E4;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-bx .tool-tip-content{
    position: absolute;
    display: inline-block;
    bottom: 150%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.job-bx::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(36, 36, 36, .9);
    top: -115%;
    left: 0;
    z-index: 99;
    border-radius: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;    
}

/* .job-bx::after {
    position: absolute;
    content: "";
    width: 12%;
    height: 18%;
    background-color:rgba(36, 36, 36, 1);
    bottom:122%;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    z-index: 90;
    border-radius: 2px;
    text-align: center;
    visibility: hidden; 
    opacity: 0;
    
} */

@keyframes tooltip {
    
    0% {
        visibility: visible;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: .5;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.job-bx:hover .tool-tip-content{
    visibility: visible;
    opacity: 1; 
} 
.job-bx:hover::before{
   visibility: visible;
   opacity: 1;
}

.job-bx:hover::after{
    /* visibility: visible; */
    animation: tooltip .14s ease-in forwards .1s;
}

.job-bx > span{
    font-size: 1.5rem;
    color:#fff;
    font-weight: 500;
}

.job-bx--cmd{
    background-color: #053A58;
}

.box-flow-conatiner__ft > .box-flow-conatiner__cmd{
    margin-left: 12rem;
    position: relative;
    background-color: yellow;
}


.job-btn-container{
    display: flex;
    margin-top: 4rem;
    margin-left: -15%;
}

.box-flow-conatiner__cmd__cont .job-btn-container{
    margin-bottom: 4rem;
}

.success-btn{
    width: 12rem;
    min-width: 12rem;
    height: 4rem;
    min-height: 4rem;
    background-color:#0CCA71;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.success-btn span{
    font-size: 1.4rem;
    color:#fff;
    font-weight: 500;
    
}

.success-btn--inactive{
    transition: background-color .1s ease-out;
    background-color: #AED0C0;
}

.success-btn--inactive:hover{
    background-color:#0CCA71;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
}

[class$="btn--inactive"]:hover{
    box-shadow: 5px 5px 6px rgba(0, 0, 0, .16);
}

[class$="btn--inactive"]:active{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .16);
    transform: translate(1px);
}


.job-btn-container > .success-btn {
    margin:0;
}
.failure-btn{
    width: 12rem;
    min-width: 12rem;
    height: 4rem;
    min-height: 4rem;
    background-color:#E44545;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
    cursor: pointer;
}
.failure-btn span{
    font-size: 1.4rem;
    color:#fff;
    font-weight: 500;
}

.failure-btn--inactive{
    background-color: #D89F9F;
    transition: background-color .1s ease-out;
}

.failure-btn--inactive:hover{
    background-color: #E44545;
    transition: background-color .1s ease-out;
}


/* utility Methods */

.close{
    display: none;
}

.open{
    display: block;
}

/* Media Queries*/
@media only screen and (max-width:1030px){

    .options-container{
        display: flex;
        flex-direction: column;
        height: 20rem;
        /* background-color: hotpink; */
        justify-content: space-evenly;
        /* background-color: hotpink; */
        align-items: center;
        
        
    }

    .drop-down-holder {
        width: 90% !important;
        justify-content: space-between;
    }

    .drop-down-holder > span{
        display: block;
        flex-basis: 20%;
        /* background-color: tomato; */
    }

    .drop-down-holder__cont{
        flex-basis: 80%;
        /* background-color:greenyellow; */
    }



    

    .drop-down-holder .drop-dwn-container{
        /* background-color: yellow; */
    }

    .drop-down-holder:nth-child(1){
        z-index: 999;
        /* background-color: red; */
    }

    .drop-down-holder:nth-child(2){
        z-index: 998;
        /* background-color: blueviolet; */
    }

    .drop-down-holder:nth-child(3){
        z-index: 997;
        /* background-color: cornflowerblue; */
    }

    .drop-down-holder:nth-child(1) span{

    }

    

    /* .drop-down-holder:not(:last-child){
        margin-bottom: 15px;
        margin-left: -11rem;
    } */
    
}



@media only screen and (max-width:960px){

    .box-flow-container{
        flex-direction: column;
        align-items: center;
        
    }

    .box-flow-container__left{
        margin-bottom: 2rem;
        height: 18rem;
    }
}

@media only screen and (max-width:828px){

    .box-flow-container{
        flex-direction: column;
        align-items: center;
        
    }

    .box-flow-container__left{
        margin-bottom: 2rem;
        height: 18rem;
    }

    .box-conatiner__info{
        /* text-align: center; */
    }

    .box-conatiner__info .machine{
       flex-basis: 50%;
       /* background-color: chartreuse; */
        
    }

    .box-conatiner__info .box-status{
        
        /* background-color: chocolate; */
        
    }

    .box-conatiner__info .reset-btn-cnt{
        flex-basis: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        /* background-color: cornflowerblue; */
        
        
    }

    .reset-btn{
        margin:0px;
        
    }

    /* .box-conatiner__info {
        width: 60%;
    } */
}